body {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  color: turquoise;
  background-color: rgb(34, 33, 33);
  font-family: sans-serif;
}

.logo {
  position: absolute;
  top: 10px;
  margin: 30px;
  width: 250px;
}

.filter {
  position: relative;
  margin-top: 150px;
  width: 300px;
  height: 20px;
  border: solid 2px turquoise;
  border-radius: 15px;
  padding: 6px;
}

.selector {
  margin-top: 150px;
  width: 100px;
  height: 30px;
  border: rgb(36, 35, 35) solid 2px;
  margin: 20px;
  background-color: rgb(43, 41, 41);
  color: white;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cartoon-list {
  margin-top: 50px;
  list-style-type: none;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
}
.cartoon-detail {
  background-color: #6ee3dd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 200px;
  color: white;
  border-radius: 20px;
}

.cartoon-detail-list {
  color: white;
  list-style-type: none;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  margin: 50px;
}

.cartoon-detail-img {
  margin: 3rem;
  border-radius: 150px;
}

.link-position {
  position: fixed;
  top: 70px;
  margin-left: 25rem;
}

.cartoon-link-goback {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(36, 35, 35);
  font-size: 20px;
  margin-top: -100px;
  text-align: center;
  width: 95%;
  cursor: pointer;
}
.link-router {
  text-decoration: none;
}

.cartoon-link:link {
  margin-right: 20px;
  outline: none;
  text-decoration: none;
  color: turquoise;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.cartoon-link:visited {
  color: turquoise;
  text-decoration: none;
}

.go-back-img {
  width: 300px;
  padding: 40px;
  cursor: pointer;
}

.cartoon-info {
  background-color: rgb(5, 165, 165);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  text-align: left;
  padding: 10px;
  margin-top: -12px;
  width: 250px;
  border-radius: 10px;
}

.cartoon-img {
  width: 250px;
  box-shadow: 5px 5px 5px rgb(53, 52, 52);
  border-radius: 10px;
}
.not-found-img {
  margin-top: 5rem;
  height: 500px;
}
